<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>ic_applets.png</string>
		<key>Nom</key>
		<string>ApplETS</string>
		<key>Local</key>
		<string>1120</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_conjure.png</string>
		<key>Nom</key>
		<string>Conjure</string>
		<key>Local</key>
		<string>1030</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_coopets.png</string>
		<key>Nom</key>
		<string>CoopETS</string>
		<key>Local</key>
		<string>B666</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_eclipse.png</string>
		<key>Nom</key>
		<string>Eclipse</string>
		<key>Local</key>
		<string>0330</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_ingenieuses.png</string>
		<key>Nom</key>
		<string>Ingenieuses</string>
		<key>Local</key>
		<string>0210</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_sonia.png</string>
		<key>Nom</key>
		<string>Sonia</string>
		<key>Local</key>
		<string>0010</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_reflets.png</string>
		<key>Nom</key>
		<string>ReflETS</string>
		<key>Local</key>
		<string>2220</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ic_phoenix.png</string>
		<key>Nom</key>
		<string>Phoenix</string>
		<key>Local</key>
		<string>0123</string>
	</dict>
</array>
</plist>
