<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaboiOSApplETS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>110F588B1EC0EB9100E147EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>110F589F1EC0EB9100E147EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>110F58AA1EC0EB9100E147EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
